<p class="font-42 container font-bold mb-0">Top Brokers ❯</p>
<div class="top-feed container grid px-10 py-30 mb-30">
    <a href="#" class="top-snippet">
        <img src="{{ 'assets/images/star.svg'|theme }}" alt="star 1">
        <div class="silver-bg">
            <div class="caption font-bold font-18 mb-20">Strategy & Planning Service</div>
            <div>A business strategy is the means by which it sets out to achieve its desired ends.</div>
        </div>
    </a>
    <a href="#" class="top-snippet">
        <img src="{{ 'assets/images/star.svg'|theme }}" alt="star 1">
        <div class="silver-bg">
            <div class="caption font-bold font-18 mb-20">Strategy & Planning Service</div>
            <div>A business strategy is the means by which it sets out to achieve its desired ends.</div>
        </div>
    </a>
    <a href="#" class="top-snippet">
        <img src="{{ 'assets/images/star.svg'|theme }}" alt="star 1">
        <div class="silver-bg">
            <div class="caption font-bold font-18 mb-20">Strategy & Planning Service</div>
            <div>A business strategy is the means by which it sets out to achieve its desired ends.</div>
        </div>
    </a>
    <a href="#" class="top-snippet">
        <img src="{{ 'assets/images/star.svg'|theme }}" alt="star 1">
        <div class="silver-bg">
            <div class="caption font-bold font-18 mb-20">Strategy & Planning Service</div>
            <div>A business strategy is the means by which it sets out to achieve its desired ends.</div>
        </div>
    </a>
    <a href="#" class="top-snippet">
        <img src="{{ 'assets/images/star.svg'|theme }}" alt="star 1">
        <div class="silver-bg">
            <div class="caption font-bold font-18 mb-20">Strategy & Planning Service</div>
            <div>A business strategy is the means by which it sets out to achieve its desired ends.</div>
        </div>
    </a>
    <a href="#" class="top-snippet">
        <img src="{{ 'assets/images/star.svg'|theme }}" alt="star 1">
        <div class="silver-bg">
            <div class="caption font-bold font-18 mb-20">Strategy & Planning Service</div>
            <div>A business strategy is the means by which it sets out to achieve its desired ends.</div>
        </div>
    </a>
</div>
